on:
  workflow_dispatch:

permissions:
  contents: write

defaults:
  run:
    shell: bash

jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

  dry-run:
    needs: ["init"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: echo "Dry-run only."

  build:
    needs: ["init", "dry-run"]
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows x86_64
            runner-os: windows-2022
            artifact-name: lune-windows-x86_64
            cargo-target: x86_64-pc-windows-msvc
    runs-on: ${{ matrix.runner-os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.cargo-target }}
      - run: cargo build --all-features --release --target ${{ matrix.cargo-target }}
      - run: bash ./scripts/zip-release.sh ${{ matrix.cargo-target }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: release.zip

  release-github:
    needs: ["build"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: ./releases
      - run: bash ./scripts/unpack-releases.sh "./releases"
      - uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release
          tag_name: release
          fail_on_unmatched_files: true
          files: ./releases/*.zip
          draft: true
